<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/bootstrap-menu-css') %>
    <link rel="stylesheet" type="text/css" href="/public/css-edit/subjects.css">
    <title>Edit Students</title>
</head>
<body>
    <%- include('../partials/bootstrap-menu-ejs') %>
    <form action="/subjects/edit/<%=subject.id%>" method="POST">
        <div class="container">
            <h1>Edit Subjects Data</h1>
            <h4><a href="http://localhost:3000/subjects">show all data</a></h4>
            <label for="subject_name">Subject Name :</label>
            <input type="text" id="subject_name" name="subject_name" value="<%=subject.subject_name%>" required>
            <button type="submit" class="submitbtn">Submit</button>
    </div>
    </form>
    <br><br>
    <%- include('../partials/bootstrap-footer-ejs') %>
</body>
</html>
            
